<!-- Fixed navbar start -->
<div class="navbar navbar-tshop navbar-fixed-top megamenu" role="navigation">

    <%= render partial: 'tshop/shared/navbar_top' %>

    <div class="container">

        <div class="navbar-header">            
            <%= link_to root_path, class: "navbar-brand" do %>
                <%= image_tag 'tshop/logo.png' %>
            <% end %>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="hide visible-xs">
                <%= render partial: 'tshop/shared/navbar_search' %>
                <%= render partial: 'tshop/shared/navbar_cart_mobile' %>
            </div><!-- /.hide visible-xs -->
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <%= render partial: 'tshop/shared/navbar_main_links' %>
            </ul>
            <!--- this part will be hidden on mobile -->
            <div class="nav navbar-nav navbar-right hidden-xs">
                <%= render partial: 'tshop/shared/navbar_cart' if Spree::Product.exists? %>
                <%= render partial: 'tshop/shared/navbar_search' %>
            </div>
        </div><!--/.nav-collapse -->

    </div><!-- /.container -->

</div>
<!-- /.Fixed navbar  -->

<%= render partial: 'tshop/shared/login_modal' %>
<%= render partial: 'tshop/shared/signup_modal' %>
<%# load product modal here, so it is available on all pages %>
<%= render partial: 'tshop/products/modal' %>
