<div class="navbar-top hidden-xs"><!-- RH added the hidden-xs here -->
    <div class="container">
        <div class="row">

            <!-- Left topbar -->
            <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
                <div class="pull-left ">
                    <ul class="userMenu ">
                        <li>
                            <a href="#">
                                <span class="hidden-xs">Help</span>
                                <i class="fa fa-question-circle hide visible-xs "></i>
                            </a>
                        </li>
                        <li class="phone-number">
                            <%= icon_link_to "+1-435-555-5555", "tel:+1-435-555-5555", icon: "phone" %>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Right topbar -->
            <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 no-margin no-padding">
                <div class="pull-right">
                    <ul class="userMenu">
                        <% if spree_current_user %>
                            <% if spree_current_user.admin? %>
                                <li>
                                    <%= icon_link_to "Admin Dashboard", admin_path, icon: "gears", icon_class: "fa-lg", text_class: "hidden-xs" %>
                                </li>
                            <% end %>
                            <li class="dropdown hasUserMenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <%= fa_icon 'user', class: "fa-lg" %>
                                    <span class="hidden-xs" style="text-transform: lowercase;"><%= spree_current_user.email %></span>
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><%= icon_link_to "My Account", account_path, icon: 'user' %></li>
                                    <li><%= icon_link_to "My Wishlists", account_path, icon: 'heart' %></li>
                                    <li class="divider"></li>
                                    <li><%= icon_link_to "Log Out", logout_path, icon: 'sign-out' %></li>
                                </ul>
                            </li>
                        <% else %>
                            <%# TODO change these to use the TSHOP modals, if you wish: %>
                            <%#= link_to 'Sign In', login_path #, data: {toggle: "modal", target: "#ModalLogin"} %>
                            <%#= link_to 'Create Account', signup_path #, data: {toggle: "modal", target: "#SignupModal"} %>
                            <li><%= link_to 'Sign In', login_path %></li>
                            <li><%= link_to 'Create Account', signup_path %></li>
                        <% end %>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
<!--/.navbar-top-->
