<div id="product_<%= product.id %>" class="item" data-hook="products_list_item" itemscope itemtype="https://schema.org/Product">
  <div class="product">
    <% url = spree.product_url(product, taxon_id: @taxon.try(:id)) %>
    <% cache(@taxon.present? ? [I18n.locale, current_currency, @taxon, product] : [I18n.locale, current_currency, product]) do %>
    
      <%= link_to fa_icon('heart'), '#', class: "add-fav tooltipHere", data: { toggle: "tooltip", original_title: "Add to Wishlist", placement: "left" } %>
      
      <div class="image">
          <div class="quickview">
              <%= link_to "Quick View", product_path(product), remote: true, class: "btn btn-xs btn-quickview" %>
          </div>
          <%= link_to product_image(product, itemprop: "image"), url, itemprop: 'url', class: "img-responsive" %>
          <div class="promotion">
            <% if product.available_on > 1.week.ago %>
              <span class="new-product">NEW</span>
            <% end %>
            <%# TODO: have this check for discounts/promotions somehow? %>
            <!--<span class="discount">15% OFF</span>-->
          </div>
      </div>
      
      <div class="description">
          <h4><%= link_to truncate(product.name, length: 50), url, class: 'info', itemprop: "name", title: product.name %></h4>
          <!--
          <%# TODO if we end up using subtitles, put them here %>
          <div class="grid-description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
          </div>
          -->
          <div class="list-description">
            <p><%= truncate product.description, length: 400 %></p>
          </div>
          <%# TODO: Update this to be configurable in the admin section (by choosing which OptionType should be used) %>
          <% product_size_option_type = product.option_types.find_by(name: 'tshirt-size') %>
          <% if product_size_option_type %>
            <span class="size"><%= product_size_option_type.option_values.pluck(:presentation).join(" / ") %></span>
          <% end %>
      </div>
      
      <span itemprop="offers" itemscope itemtype="https://schema.org/Offer">
        <span class="price selling lead" itemprop="price"><%= display_price(product) %></span>
      </span>
      
      <%# Form adapted from tshop/products/_cart_form %>
      <%= form_for :order, :url => populate_orders_path do |f| %>
        <% if product.variants_and_option_values(current_currency).any? %>
          <div class="action-control">
            <%# OPTIMIZE: Give this its own small, streamlined modal here to select variant options %>
            <%= icon_link_to Spree.t(:add_to_cart), product_path(product), icon: 'shopping-cart', remote: true, class: "btn btn-primary variant-options-link" %>
          </div>
        <% else %>
          <%= hidden_field_tag "variant_id", product.master.id %>
          <%= hidden_field_tag :quantity, 1, :min => 1 %>
          <div class="action-control">
            <%= button_tag class: "btn btn-primary", id: 'add-to-cart-button', type: :submit do %>
              <span class="add2cart">
                <%= fa_icon('shopping-cart') %>
                <%= Spree.t(:add_to_cart) %>
              </span>
            <% end %>
          </div>
        <% end %>
      <% end %>
      
    <% end %>
  </div>
</div>
