<div class="banner">
    <div class="full-container">
        <div class="slider-content">
            <ul id="pager" class="container"></ul>
            <div class="slider slider-v2">

                <%# Slides content controlled by spree_slider gem %>
                <% slider = Spree::Slide.published %>
                <% if slider.size > 0 %>
                    <% slider.each_with_index do |slide, index| %>
                        <div class="slider-item slider-item-img<%= index + 1 %>"
                             data-cycle-pager-template="<a href=#> <%= slide.name %> </a>">
                            <div class="sliderInfo">
                                <div class="container">
                                    <div class="col-lg-5 col-md-5 col-sm-5 pull-left sliderText dark alpha80 hidden-xs">
                                        <div class="inner">
                                            <h1><%= slide.name %></h1>

                                            <p class="hidden-xs"><%= slide.body %></p>
                                            <%= link_to slide.slide_link, class: "slide-link" do %>
                                                MORE
                                                <span class="arrowUnicode">►</span>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <%= image_tag slide.slide_image.url, class: "img-responsive parallaximg sliderImg", alt: slide.slide_name %>
                        </div>
                    <% end %>
                <% end %>

                
            </div>
        </div>
    </div>
</div>

