<div class="inner" data-hook=<%="#{address_type}_inner" %>>

  <div class="row">
    <div class="form-group <%= Spree::Config[:company] ? 'col-sm-4' : 'col-sm-6' %>" id=<%="#{address_id}firstname" %>>
      <%= form.label :firstname, Spree.t(:first_name), class: "sr-only" %>
      <%= form.text_field :firstname, :placeholder => Spree.t(:first_name), :class => 'form-control required' %>
    </div>
    <div class="form-group <%= Spree::Config[:company] ? 'col-sm-4' : 'col-sm-6' %>" id=<%="#{address_id}lastname" %>>
      <%= form.label :lastname, Spree.t(:last_name), class: "sr-only" %>
      <%= form.text_field :lastname, :placeholder => Spree.t(:last_name), :class => 'form-control required' %>
    </div>
    <% if Spree::Config[:company] %>
      <div class="form-group col-sm-4" id=<%="#{address_id}company" %>>
        <%= form.label :company, Spree.t(:company), class: "sr-only" %>
        <%= form.text_field :company, :placeholder => Spree.t(:company), :class => 'form-control' %>
      </div>
    <% end %>
  </div><!-- /.row -->

  <div class="row">    
    <div class="form-group col-sm-6" id=<%="#{address_id}address1" %>>
      <%= form.label :address1, Spree.t(:street_address), class: "sr-only" %>
      <%= form.text_field :address1, :placeholder => Spree.t(:street_address), :class => 'form-control  required' %>
    </div>
    <div class="form-group col-sm-6" id=<%="#{address_id}address2" %>>
      <%= form.label :address2, Spree.t(:street_address_2), class: "sr-only" %>
      <%= form.text_field :address2, :placeholder => Spree.t(:street_address_2), :class => 'form-control' %>
    </div>
  </div><!-- /.row -->

  <div class="row">
    <div class="form-group col-sm-3" id=<%="#{address_id}city" %>>
      <%= form.label :city, Spree.t(:city), class: "sr-only" %>
      <%= form.text_field :city, :placeholder => Spree.t(:city), :class => 'form-control required' %>
    </div>

    <div class="form-group col-sm-3" id=<%="#{address_id}country" %>>
      <%= form.label :country_id, Spree.t(:country), class: "sr-only" %>
      <span id=<%="#{address_id}country-selection" %>>
        <%= form.collection_select :country_id, available_countries, :id, :name, {}, {:class => 'form-control required'} %>
      </span>
    </div>

    <% if Spree::Config[:address_requires_state] %>
      <div class="form-group col-sm-2" id=<%="#{address_id}state" %>>
        <% have_states = !address.country.states.empty? %>
        <%= form.label :state, Spree.t(:state), class: "sr-only" %>

        <% state_elements = [
           form.collection_select(:state_id, address.country.states,
                              :id, :name,
                              {:include_blank => true},
                              {:class => have_states ? 'form-control required' : 'form-control hidden',
                              :disabled => !have_states}) +
           form.text_field(:state_name,
                              :class => !have_states ? 'form-control required' : 'form-control hidden',
                              :disabled => have_states)
           ].join.gsub('"', "'").gsub("\n", "")
        %>
        <%= javascript_tag do %>
          $('#<%="#{address_id}state" %>').append("<%== state_elements %>");
        <% end %>
      </div>
        <noscript>
          <%= form.text_field :state_name, :placeholder => Spree.t(:state), :class => 'form-control required' %>
        </noscript>
    <% end %>

    <div class="form-group col-sm-2" id=<%="#{address_id}zipcode" %>>
      <%= form.label :zipcode, Spree.t(:zip), class: "sr-only" %>
      <%= form.text_field :zipcode, :placeholder => Spree.t(:zip), :class => "form-control #{'required' if address.require_zipcode?}" %>
    </div>

    <div class="form-group col-sm-2" id=<%="#{address_id}phone" %>>
      <%= form.label :phone, Spree.t(:phone), class: "sr-only" %>
      <%= form.phone_field :phone, :placeholder => Spree.t(:phone), :class => "form-control #{'required' if address.require_phone?}" %>
    </div>

    <% if Spree::Config[:alternative_shipping_phone] %>
      <div class="form-group" id=<%="#{address_id}altphone" %>>
        <%= form.label :alternative_phone, Spree.t(:alternative_phone) %>
        <%= form.phone_field :alternative_phone, :placeholder => Spree.t(:alternative_phone), :class => 'form-control' %>
      </div>
    <% end %>

  </div><!-- /.row -->

</div><!-- /.inner -->
