<div class="row categoryProduct xsResponse clearfix">
    <div class="item col-sm-4 col-lg-4 col-md-4 col-xs-6">
        <div class="product">
            <a class="add-fav tooltipHere" data-toggle="tooltip"
               data-original-title="Add to Wishlist" data-placement="left">
                <i class="glyphicon glyphicon-heart"></i>
            </a>

            <div class="image">
                <div class="quickview">
                    <a data-toggle="modal" class="btn btn-xs btn-quickview"
                       href="ajax/product.html" data-target="#productSetailsModalAjax">Quick
                        View </a>
                </div>
                <a href="product-details.html"><%= image_tag "tshop/product/30.jpg", alt: "img", class: "img-responsive" %></a>

                <div class="promotion"><span class="new-product"> NEW</span> <span
                        class="discount">15% OFF</span></div>
            </div>
            <div class="description">
                <h4><a href="product-details.html">aliquam erat volutpat</a></h4>

                <div class="grid-description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </div>
                <div class="list-description">
                    <p> Sed sed rutrum purus. Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Pellentesque risus lacus, iaculis in ante vitae, viverra hendrerit
                        ante. Aliquam vel fermentum elit. Morbi rhoncus, neque in vulputate
                        facilisis, leo tortor sollicitudin odio, quis pellentesque lorem nisi
                        quis enim. In dolor mi, hendrerit at blandit vulputate, congue a purus.
                        Sed eget turpis sit amet orci euismod accumsan. Praesent sit amet
                        placerat elit. </p>
                </div>
                <span class="size">XL / XXL / S </span></div>
            <div class="price"><span>$25</span></div>
            <div class="action-control"><a class="btn btn-primary"> <span class="add2cart"><i
                    class="glyphicon glyphicon-shopping-cart"> </i> Add to cart </span> </a>
            </div>
        </div>
    </div>
    <!--/.item-->
    <div class="item col-sm-4 col-lg-4 col-md-4 col-xs-6">
        <div class="product">
            <a class="add-fav tooltipHere" data-toggle="tooltip"
               data-original-title="Add to Wishlist" data-placement="left">
                <i class="glyphicon glyphicon-heart"></i>
            </a>

            <div class="image">
                <div class="quickview">
                    <a data-toggle="modal" class="btn btn-xs btn-quickview"
                       href="ajax/product.html" data-target="#productSetailsModalAjax">Quick
                        View </a>
                </div>
                <a href="product-details.html"><%= image_tag "tshop/product/31.jpg", alt: "img", class: "img-responsive" %></a>

                <div class="promotion"><span class="discount">15% OFF</span></div>
            </div>
            <div class="description">
                <h4><a href="product-details.html">ullamcorper suscipit lobortis </a></h4>

                <div class="grid-description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </div>
                <div class="list-description">
                    <p> Sed sed rutrum purus. Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Pellentesque risus lacus, iaculis in ante vitae, viverra hendrerit
                        ante. Aliquam vel fermentum elit. Morbi rhoncus, neque in vulputate
                        facilisis, leo tortor sollicitudin odio, quis pellentesque lorem nisi
                        quis enim. In dolor mi, hendrerit at blandit vulputate, congue a purus.
                        Sed eget turpis sit amet orci euismod accumsan. Praesent sit amet
                        placerat elit. </p>
                </div>
                <span class="size">XL / XXL / S </span></div>
            <div class="price"><span>$25</span></div>
            <div class="action-control"><a class="btn btn-primary"> <span class="add2cart"><i
                    class="glyphicon glyphicon-shopping-cart"> </i> Add to cart </span> </a>
            </div>
        </div>
    </div>
    <!--/.item-->
    <div class="item col-sm-4 col-lg-4 col-md-4 col-xs-6">
        <div class="product">
            <a class="add-fav tooltipHere" data-toggle="tooltip"
               data-original-title="Add to Wishlist" data-placement="left">
                <i class="glyphicon glyphicon-heart"></i>
            </a>

            <div class="image">
                <div class="quickview">
                    <a data-toggle="modal" class="btn btn-xs btn-quickview"
                       href="ajax/product.html" data-target="#productSetailsModalAjax">Quick
                        View </a>
                </div>
                <a href="product-details.html"><%= image_tag "tshop/product/34.jpg", alt: "img", class: "img-responsive" %></a>

                <div class="promotion"><span class="new-product"> NEW</span></div>
            </div>
            <div class="description">
                <h4><a href="product-details.html">demonstraverunt lectores </a></h4>

                <div class="grid-description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </div>
                <div class="list-description">
                    <p> Sed sed rutrum purus. Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Pellentesque risus lacus, iaculis in ante vitae, viverra hendrerit
                        ante. Aliquam vel fermentum elit. Morbi rhoncus, neque in vulputate
                        facilisis, leo tortor sollicitudin odio, quis pellentesque lorem nisi
                        quis enim. In dolor mi, hendrerit at blandit vulputate, congue a purus.
                        Sed eget turpis sit amet orci euismod accumsan. Praesent sit amet
                        placerat elit. </p>
                </div>
                <span class="size">XL / XXL / S </span></div>
            <div class="price"><span>$25</span> <span class="old-price">$75</span></div>
            <div class="action-control"><a class="btn btn-primary"> <span class="add2cart"><i
                    class="glyphicon glyphicon-shopping-cart"> </i> Add to cart </span> </a>
            </div>
        </div>
    </div>
    <!--/.item-->
    <div class="item col-sm-4 col-lg-4 col-md-4 col-xs-6">
        <div class="product">
            <a class="add-fav tooltipHere" data-toggle="tooltip"
               data-original-title="Add to Wishlist" data-placement="left">
                <i class="glyphicon glyphicon-heart"></i>
            </a>

            <div class="image">
                <div class="quickview">
                    <a data-toggle="modal" class="btn btn-xs btn-quickview"
                       href="ajax/product.html" data-target="#productSetailsModalAjax">Quick
                        View </a>
                </div>
                <a href="product-details.html"><%= image_tag "tshop/product/35.jpg", alt: "img", class: "img-responsive" %></a></div>
            <div class="description">
                <h4><a href="product-details.html">humanitatis per</a></h4>

                <div class="grid-description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </div>
                <div class="list-description">
                    <p> Sed sed rutrum purus. Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Pellentesque risus lacus, iaculis in ante vitae, viverra hendrerit
                        ante. Aliquam vel fermentum elit. Morbi rhoncus, neque in vulputate
                        facilisis, leo tortor sollicitudin odio, quis pellentesque lorem nisi
                        quis enim. In dolor mi, hendrerit at blandit vulputate, congue a purus.
                        Sed eget turpis sit amet orci euismod accumsan. Praesent sit amet
                        placerat elit. </p>
                </div>
                <span class="size">XL / XXL / S </span></div>
            <div class="price"><span>$25</span></div>
            <div class="action-control"><a class="btn btn-primary"> <span class="add2cart"><i
                    class="glyphicon glyphicon-shopping-cart"> </i> Add to cart </span> </a>
            </div>
        </div>
    </div>
    <!--/.item-->
    <div class="item col-sm-4 col-lg-4 col-md-4 col-xs-6">
        <div class="product">
            <a class="add-fav tooltipHere" data-toggle="tooltip"
               data-original-title="Add to Wishlist" data-placement="left">
                <i class="glyphicon glyphicon-heart"></i>
            </a>

            <div class="image">
                <div class="quickview">
                    <a data-toggle="modal" class="btn btn-xs btn-quickview"
                       href="ajax/product.html" data-target="#productSetailsModalAjax">Quick
                        View </a>
                </div>
                <a href="product-details.html"><%= image_tag "tshop/product/33.jpg", alt: "img", class: "img-responsive" %></a></div>
            <div class="description">
                <h4><a href="product-details.html">Eodem modo typi</a></h4>

                <div class="grid-description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </div>
                <div class="list-description">
                    <p> Sed sed rutrum purus. Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Pellentesque risus lacus, iaculis in ante vitae, viverra hendrerit
                        ante. Aliquam vel fermentum elit. Morbi rhoncus, neque in vulputate
                        facilisis, leo tortor sollicitudin odio, quis pellentesque lorem nisi
                        quis enim. In dolor mi, hendrerit at blandit vulputate, congue a purus.
                        Sed eget turpis sit amet orci euismod accumsan. Praesent sit amet
                        placerat elit. </p>
                </div>
                <span class="size">XL / XXL / S </span></div>
            <div class="price"><span>$25</span></div>
            <div class="action-control"><a class="btn btn-primary"> <span class="add2cart"><i
                    class="glyphicon glyphicon-shopping-cart"> </i> Add to cart </span> </a>
            </div>
        </div>
    </div>
    <!--/.item-->
    <div class="item col-sm-4 col-lg-4 col-md-4 col-xs-6">
        <div class="product">
            <a class="add-fav tooltipHere" data-toggle="tooltip"
               data-original-title="Add to Wishlist" data-placement="left">
                <i class="glyphicon glyphicon-heart"></i>
            </a>

            <div class="image">
                <div class="quickview">
                    <a data-toggle="modal" class="btn btn-xs btn-quickview"
                       href="ajax/product.html" data-target="#productSetailsModalAjax">Quick
                        View </a>
                </div>
                <a href="product-details.html"><%= image_tag "tshop/product/10.jpg", alt: "img", class: "img-responsive" %></a></div>
            <div class="description">
                <h4><a href="product-details.html">sequitur mutationem </a></h4>

                <div class="grid-description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </div>
                <div class="list-description">
                    <p> Sed sed rutrum purus. Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Pellentesque risus lacus, iaculis in ante vitae, viverra hendrerit
                        ante. Aliquam vel fermentum elit. Morbi rhoncus, neque in vulputate
                        facilisis, leo tortor sollicitudin odio, quis pellentesque lorem nisi
                        quis enim. In dolor mi, hendrerit at blandit vulputate, congue a purus.
                        Sed eget turpis sit amet orci euismod accumsan. Praesent sit amet
                        placerat elit. </p>
                </div>
                <span class="size">XL / XXL / S </span></div>
            <div class="price"><span>$25</span></div>
            <div class="action-control"><a class="btn btn-primary"> <span class="add2cart"><i
                    class="glyphicon glyphicon-shopping-cart"> </i> Add to cart </span> </a>
            </div>
        </div>
    </div>
    <!--/.item-->
    <div class="item col-sm-4 col-lg-4 col-md-4 col-xs-6">
        <div class="product">
            <a class="add-fav tooltipHere" data-toggle="tooltip"
               data-original-title="Add to Wishlist" data-placement="left">
                <i class="glyphicon glyphicon-heart"></i>
            </a>

            <div class="image">
                <div class="quickview">
                    <a data-toggle="modal" class="btn btn-xs btn-quickview"
                       href="ajax/product.html" data-target="#productSetailsModalAjax">Quick
                        View </a>
                </div>
                <a href="product-details.html"><%= image_tag "tshop/product/37.jpg", alt: "img", class: "img-responsive" %></a></div>
            <div class="description">
                <h4><a href="product-details.html">consuetudium lectorum.</a></h4>

                <div class="grid-description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </div>
                <div class="list-description">
                    <p> Sed sed rutrum purus. Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Pellentesque risus lacus, iaculis in ante vitae, viverra hendrerit
                        ante. Aliquam vel fermentum elit. Morbi rhoncus, neque in vulputate
                        facilisis, leo tortor sollicitudin odio, quis pellentesque lorem nisi
                        quis enim. In dolor mi, hendrerit at blandit vulputate, congue a purus.
                        Sed eget turpis sit amet orci euismod accumsan. Praesent sit amet
                        placerat elit. </p>
                </div>
                <span class="size">XL / XXL / S </span></div>
            <div class="price"><span>$25</span> <span class="old-price">$75</span></div>
            <div class="action-control"><a class="btn btn-primary"> <span class="add2cart"><i
                    class="glyphicon glyphicon-shopping-cart"> </i> Add to cart </span> </a>
            </div>
        </div>
    </div>
    <!--/.item-->
    <div class="item col-sm-4 col-lg-4 col-md-4 col-xs-6">
        <div class="product">
            <a class="add-fav tooltipHere" data-toggle="tooltip"
               data-original-title="Add to Wishlist" data-placement="left">
                <i class="glyphicon glyphicon-heart"></i>
            </a>

            <div class="image">
                <div class="quickview">
                    <a data-toggle="modal" class="btn btn-xs btn-quickview"
                       href="ajax/product.html" data-target="#productSetailsModalAjax">Quick
                        View </a>
                </div>
                <a href="product-details.html"><%= image_tag "tshop/product/16.jpg", alt: "img", class: "img-responsive" %></a></div>
            <div class="description">
                <h4><a href="product-details.html">parum claram</a></h4>

                <div class="grid-description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </div>
                <div class="list-description">
                    <p> Sed sed rutrum purus. Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Pellentesque risus lacus, iaculis in ante vitae, viverra hendrerit
                        ante. Aliquam vel fermentum elit. Morbi rhoncus, neque in vulputate
                        facilisis, leo tortor sollicitudin odio, quis pellentesque lorem nisi
                        quis enim. In dolor mi, hendrerit at blandit vulputate, congue a purus.
                        Sed eget turpis sit amet orci euismod accumsan. Praesent sit amet
                        placerat elit. </p>
                </div>
                <span class="size">XL / XXL / S </span></div>
            <div class="price"><span>$25</span> <span class="old-price">$75</span></div>
            <div class="action-control"><a class="btn btn-primary"> <span class="add2cart"><i
                    class="glyphicon glyphicon-shopping-cart"> </i> Add to cart </span> </a>
            </div>
        </div>
    </div>
    <!--/.item-->
    <div class="item col-sm-4 col-lg-4 col-md-4 col-xs-6">
        <div class="product">
            <a class="add-fav tooltipHere" data-toggle="tooltip"
               data-original-title="Add to Wishlist" data-placement="left">
                <i class="glyphicon glyphicon-heart"></i>
            </a>

            <div class="image">
                <div class="quickview">
                    <a data-toggle="modal" class="btn btn-xs btn-quickview"
                       href="ajax/product.html" data-target="#productSetailsModalAjax">Quick
                        View </a>
                </div>
                <a href="product-details.html"><%= image_tag "tshop/product/19.jpg", alt: "img", class: "img-responsive" %></a></div>
            <div class="description">
                <h4><a href="product-details.html">duis dolore </a></h4>

                <div class="grid-description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </div>
                <div class="list-description">
                    <p> Sed sed rutrum purus. Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Pellentesque risus lacus, iaculis in ante vitae, viverra hendrerit
                        ante. Aliquam vel fermentum elit. Morbi rhoncus, neque in vulputate
                        facilisis, leo tortor sollicitudin odio, quis pellentesque lorem nisi
                        quis enim. In dolor mi, hendrerit at blandit vulputate, congue a purus.
                        Sed eget turpis sit amet orci euismod accumsan. Praesent sit amet
                        placerat elit. </p>
                </div>
                <span class="size">XL / XXL / S </span></div>
            <div class="price"><span>$25</span></div>
            <div class="action-control"><a class="btn btn-primary"> <span class="add2cart"><i
                    class="glyphicon glyphicon-shopping-cart"> </i> Add to cart </span> </a>
            </div>
        </div>
    </div>
    <!--/.item-->
    <div class="item col-sm-4 col-lg-4 col-md-4 col-xs-6">
        <div class="product">
            <a class="add-fav tooltipHere" data-toggle="tooltip"
               data-original-title="Add to Wishlist" data-placement="left">
                <i class="glyphicon glyphicon-heart"></i>
            </a>

            <div class="image">
                <div class="quickview">
                    <a data-toggle="modal" class="btn btn-xs btn-quickview"
                       href="ajax/product.html" data-target="#productSetailsModalAjax">Quick
                        View </a>
                </div>
                <a href="product-details.html"><%= image_tag "tshop/product/15.jpg", alt: "img", class: "img-responsive" %></a>

                <div class="promotion"><span class="new-product"> NEW</span> <span
                        class="discount">15% OFF</span></div>
            </div>
            <div class="description">
                <h4><a href="product-details.html">aliquam erat volutpat</a></h4>

                <div class="grid-description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </div>
                <div class="list-description">
                    <p> Sed sed rutrum purus. Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Pellentesque risus lacus, iaculis in ante vitae, viverra hendrerit
                        ante. Aliquam vel fermentum elit. Morbi rhoncus, neque in vulputate
                        facilisis, leo tortor sollicitudin odio, quis pellentesque lorem nisi
                        quis enim. In dolor mi, hendrerit at blandit vulputate, congue a purus.
                        Sed eget turpis sit amet orci euismod accumsan. Praesent sit amet
                        placerat elit. </p>
                </div>
                <span class="size">XL / XXL / S </span></div>
            <div class="price"><span>$25</span></div>
            <div class="action-control"><a class="btn btn-primary"> <span class="add2cart"><i
                    class="glyphicon glyphicon-shopping-cart"> </i> Add to cart </span> </a>
            </div>
        </div>
    </div>
    <!--/.item-->
    <div class="item col-sm-4 col-lg-4 col-md-4 col-xs-6">
        <div class="product">
            <a class="add-fav tooltipHere" data-toggle="tooltip"
               data-original-title="Add to Wishlist" data-placement="left">
                <i class="glyphicon glyphicon-heart"></i>
            </a>

            <div class="image">
                <div class="quickview">
                    <a data-toggle="modal" class="btn btn-xs btn-quickview"
                       href="ajax/product.html" data-target="#productSetailsModalAjax">Quick
                        View </a>
                </div>
                <a href="product-details.html"><%= image_tag "tshop/product/14.jpg", alt: "img", class: "img-responsive" %></a>

                <div class="promotion"><span class="discount">15% OFF</span></div>
            </div>
            <div class="description">
                <h4><a href="product-details.html">ullamcorper suscipit lobortis </a></h4>

                <div class="grid-description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </div>
                <div class="list-description">
                    <p> Sed sed rutrum purus. Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Pellentesque risus lacus, iaculis in ante vitae, viverra hendrerit
                        ante. Aliquam vel fermentum elit. Morbi rhoncus, neque in vulputate
                        facilisis, leo tortor sollicitudin odio, quis pellentesque lorem nisi
                        quis enim. In dolor mi, hendrerit at blandit vulputate, congue a purus.
                        Sed eget turpis sit amet orci euismod accumsan. Praesent sit amet
                        placerat elit. </p>
                </div>
                <span class="size">XL / XXL / S </span></div>
            <div class="price"><span>$25</span></div>
            <div class="action-control"><a class="btn btn-primary"> <span class="add2cart"><i
                    class="glyphicon glyphicon-shopping-cart"> </i> Add to cart </span> </a>
            </div>
        </div>
    </div>
    <!--/.item-->
    <div class="item col-sm-4 col-lg-4 col-md-4 col-xs-6">
        <div class="product">
            <a class="add-fav tooltipHere" data-toggle="tooltip"
               data-original-title="Add to Wishlist" data-placement="left">
                <i class="glyphicon glyphicon-heart"></i>
            </a>

            <div class="image">
                <div class="quickview">
                    <a data-toggle="modal" class="btn btn-xs btn-quickview"
                       href="ajax/product.html" data-target="#productSetailsModalAjax">Quick
                        View </a>
                </div>
                <a href="product-details.html"><%= image_tag "tshop/product/17.jpg", alt: "img", class: "img-responsive" %></a>

                <div class="promotion"><span class="new-product"> NEW</span></div>
            </div>
            <div class="description">
                <h4><a href="product-details.html">demonstraverunt lectores </a></h4>

                <div class="grid-description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </div>
                <div class="list-description">
                    <p> Sed sed rutrum purus. Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Pellentesque risus lacus, iaculis in ante vitae, viverra hendrerit
                        ante. Aliquam vel fermentum elit. Morbi rhoncus, neque in vulputate
                        facilisis, leo tortor sollicitudin odio, quis pellentesque lorem nisi
                        quis enim. In dolor mi, hendrerit at blandit vulputate, congue a purus.
                        Sed eget turpis sit amet orci euismod accumsan. Praesent sit amet
                        placerat elit. </p>
                </div>
                <span class="size">XL / XXL / S </span></div>
            <div class="price"><span>$25</span></div>
            <div class="action-control"><a class="btn btn-primary"> <span class="add2cart"><i
                    class="glyphicon glyphicon-shopping-cart"> </i> Add to cart </span> </a>
            </div>
        </div>
    </div>
    <!--/.item-->
</div>
<!--/.categoryProduct || product content end-->

<div class="w100 categoryFooter">
    <div class="pagination pull-left no-margin-top">
        <ul class="pagination no-margin-top">
            <li><a href="#">«</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">»</a></li>
        </ul>
    </div>
    <div class="pull-right pull-right col-sm-4 col-xs-12 no-padding text-right text-left-xs">
        <p>Showing 1–450 of 12 results</p>
    </div>
</div>
<!--/.categoryFooter-->
